.mapContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "mapHeader mapHeader"
    "universityBookstoreTitle universityBookstoreTitle"
    "universityBookstoreInfo universityGoogleMap"
    "stadiumBookstoreTitle stadiumBookstoreTitle"
    "stadiumBookstoreInfo stadiumGoogleMap"
    "follettsBookstoreTitle follettsBookstoreTitle"
    "follettsBookstoreInfo follettsGoogleMap";
    background-color: white;
    margin: 5%;
  }

  .mapHeader {
    grid-area: mapHeader;

  }
  
  .mapTitle {
    text-align: center;
    padding: 5px;
  }
  
  .mapDivider {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .universityBookstoreInfo {
    grid-area: universityBookstoreInfo;

  }

  .stadiumBookstoreInfo {
    grid-area: stadiumBookstoreInfo;

  }

  .follettsBookstoreInfo {
    grid-area: follettsBookstoreInfo;

  }
  
  .universityBookstoreTitle {
    grid-area: universityBookstoreTitle;
    padding-left: 50px;
    padding-bottom: 5px;
  }

  .stadiumBookstoreTitle {
    grid-area: stadiumBookstoreTitle;
    padding-left: 50px;
    padding-bottom: 5px;
  }

  .follettsBookstoreTitle {
    grid-area: follettsBookstoreTitle;
    padding-left: 50px;
    padding-bottom: 5px;
  }

  .hoursHeader {
    padding-left: 50px;
  }

  .hoursText {
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
  }

  .universityGoogleMap {
    grid-area: universityGoogleMap;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
  }

  .stadiumGoogleMap {
    grid-area: stadiumGoogleMap;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
  }

  .follettsGoogleMap {
    grid-area: follettsGoogleMap;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
  }
