.mapContainer {
    display:flex;
    background-color: white;
    margin: 5%;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  
  .mapTitle {
    flex-basis: 100%;
    text-align: center;
    padding: 5px;
  }
  
  .mapDivider {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .bookstoreNames {
    padding-left: 50px;
    padding-bottom: 5px;
    flex-basis: 100%;
  }

  .hoursHeader {
    flex-basis: 100%;
    padding-left: 50px;
  }

  .hoursText {
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    flex-basis: 58%;
  }

  .googleMap {
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    flex-basis: 30%;
  }
