.mapContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px, 100px, 100px, 100px, 100px;
    grid-template-areas: 
    "mapHeader mapHeader"
    "universityBookstoreTitle universityBookstoreTitle"
    "universityBookstoreInfo universityGoogleMap"
    "stadiumBookstoreInfo stadiumBookstoreInfo"
    "follettsBookstoreInfo follettsBookstoreInfo";
    background-color: white;
    margin: 5%;
  }

  .mapHeader {
    grid-area: mapHeader;

  }
  
  .mapTitle {
    flex-basis: 100%;
    text-align: center;
    padding: 5px;
  }
  
  .mapDivider {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .universityBookstoreInfo {
    grid-area: universityBookstoreInfo;

  }

  .stadiumBookstoreInfo {
    grid-area: stadiumBookstoreInfo;

  }

  .follettsBookstoreInfo {
    grid-area: follettsBookstoreInfo;

  }
  
  .universityBookstoreTitle {
    grid-area: universityBookstoreTitle;
    padding-left: 50px;
    padding-bottom: 5px;
    flex-basis: 100%;
  }

  .stadiumBookstoreTitle {
    padding-left: 50px;
    padding-bottom: 5px;
    flex-basis: 100%;
  }

  .follettsBookstoreTitle {
    padding-left: 50px;
    padding-bottom: 5px;
    flex-basis: 100%;
  }

  .hoursHeader {
    flex-basis: 100%;
    padding-left: 50px;
  }

  .hoursText {
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    flex-basis: 58%;
  }

  .universityGoogleMap {
    grid-area: universityGoogleMap;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    flex-basis: 30%;
  }
