.message {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
}

.message * {
    margin: 20px;
}

.contactList {
    background-color: white;
}

.chat {
    background-color: white;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contact:hover {
    background-color: lightgray;
}

.contact img{
    width:auto;
    height:auto;
    max-width: 50px;
    max-height: 50px;
}

.contact Typography {
    align: 'center';
}

.chat {
    width: 70%;
}

.chatInput {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
}

.input {
    width: 70%;
}

.send {
    width: 30%;
}