.profileFormDisplay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.profileBoxDisplay {
    display: flex;
    flex-direction: row;
    height: 95%;
}

.ratingBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left:1px solid rgb(202, 199, 199);
    border-radius: 0px 0px 20px 0px;
}