/* .profileDisplay input {
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    border: 2px solid rgb(202, 199, 199);
    width: 350px;
}
  
.profileDisplay input:hover, select:hover, textarea:hover {
    border: 2px solid blue;
}
  
.profileDisplay input:focus, select:focus, textarea:focus {
    border: 2px solid rgb(0, 119, 255);
} */

/* .profileDisplay select {
    border-radius: 5px;
    font-size: 18px;
    height: 50px;
    width: 357px;
    border: 2px solid transparent;
}

.profileDisplay #edit {
    width:360px;
} */

.profileDisplay .MuiTextField-root {
    width: 85%
}

.profileDisplay {
    display: flex;
    height: calc(100vh - var(--header-height));
    align-items: center;
    justify-content: center;
}

.profileFormDisplay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.profileBoxDisplay {
    display: flex;
    flex-direction: row;
    height: 95%;
}

.ratingBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left:1px solid rgb(202, 199, 199);
    border-radius: 0px 0px 20px 0px;
}

.diffSettings {
    display: flex;
    flex-direction: column;
    border-right:1px solid rgb(202, 199, 199);
    border-radius: 0px 0px 0px 20px;
}

.profileDisplay button {
    height: 80px;
}