.sellDisplay select:invalid { 
    color: gray; 
}
  
.sellDisplay input {
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    border: 2px solid rgb(202, 199, 199);
    width: 350px;
}

.sellDisplay input:hover, .sellDisplay select:hover, .sellDisplay textarea:hover {
    border: 2px solid rgb(111, 96, 248);
}
  
.sellDisplay input:focus, .sellDisplay select:focus, .sellDisplay textarea:focus {
    outline: 2px solid rgb(0, 119, 255);
}

.sellDisplay textarea {
    border-radius: 5px;
    resize: none;
    font-size: 20px;
    border: 2px solid transparent;
}

.sellDisplay select {
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 357px;
    border: 2px solid transparent;
}

.sellDisplay #list {
    width:355px;
}

.sellDisplay {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
}

.formDisplay {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.previewDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1
}

.innerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%
}

.innerLeftBox {
    border-radius: 10px 0px 0px 10px;
}

.innerRightBox {
    border-radius: 0px 10px 10px 0px;
}