.settingsDisplay .MuiTextField-root {
    width: 85%
}

.settingsDisplay {
    display: flex;
    height: calc(100vh - var(--header-height));
    align-items: center;
    justify-content: center;
}

.settingsDisplay .diffSettings {
    display: flex;
    flex-direction: column;
    border-right:1px solid rgb(202, 199, 199);
    border-radius: 0px 0px 0px 20px;
}

.settingsDisplay .MuiButton-root {
    height: 80px;
    border-radius: 0px 0px 0px 0px;
    color: var(--text-color);
}

.settingsDisplay .MuiButton-root:hover {
    background-color: gray;
}

.settingsDisplay .active {
    background-color: rgb(32, 169, 211);
}

.settingsDisplay .profileBoxDisplay {
    display: flex;
    flex-direction: row;
    height: 93%;
}