body {
  min-height: 100vh;
  background-color: rgb(233, 233, 233);
  margin: 0;
}

.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.navbar a {
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centerNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

select:invalid { 
  color: gray; 
}

input {
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  border: 2px solid rgb(202, 199, 199);
  width: 350px;
}

input:hover, select:hover, textarea:hover {
  border: 2px solid black;
}

input:focus, select:focus, textarea:focus {
  border: 2px solid white; 
  outline: 2px solid rgb(0, 119, 255);
}

textarea {
  border-radius: 5px;
  resize: none;
  font-size: 20px;
  border: 2px solid transparent;
}

select {
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  width: 357px;
  border: 2px solid transparent;
}

.sellDisplay {
  display: flex;
}

.formDisplay {
  display:flex;
  align-items: center;
  justify-content: center;
}

#list {
  width:355px;
}