body {
  min-height: 100vh;
  background-color: rgb(233, 233, 233);
  margin: 0;
}

.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centerNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapContainer {
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 70%;
  overflow: scroll; 
  */

  display:flex;
  background-color: white;
  height: 750px;
  margin: 5%;
  flex-flow: row wrap;
  /*overflow-x: scroll;*/
}

.mapTitle {
  flex-basis: 100%;
  text-align: center;
}

.bookstoreNames {
  padding-left: 50px;
  flex-basis: 100%;
}